apiVersion: v1
kind: Namespace
metadata:
  name: open-cluster-management
---
apiVersion: v1
items:
- apiVersion: hive.openshift.io/v1
  kind: HiveConfig
  metadata:
    generation: 2
    labels:
      installer.name: multiclusterhub
      installer.namespace: open-cluster-management
    name: hive
    namespace: open-cluster-management
  spec:
    featureGates:
      custom:
        enabled:
        - AlphaAgentInstallStrategy
      featureSet: Custom
    logLevel: debug
    targetNamespace: hive
